version: "3.8"
services:
 nginx:
    container_name: nginx
    image: bujanovakatia/nginx
    ports:
    - target: 80
      published: 80
      protocol: tcp
    # deploy:
    #     replicas: 2
    volumes:
    - type: bind
      source: ./nginx.conf
      target: /etc/nginx/nginx.conf
    depends_on:
    - service1